@import "ReusableStyles.scss";
//Admin Page
#buttons-admin-add{
    margin-top: 25px;
}
.add-buttons{
    margin-right: 10px;
    background-color: rgba(28, 224, 245, 0.995);
    color:rgb(9, 9, 94);
}
.h1-admin-page{
    margin-top: 25px;
    color:rgb(39, 7, 91);
    font-family:$cormorent;
    font-size: 55px;
}
.info-divs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.info-divs-return{
    margin:3px;
border: outset 2px $border_color;
text-align: center;
}

.admin-page-p{
    color:rgb(39, 7, 91);
    font-family:$pt_serif;
    font-size: 23px;
}

.admin-buttons-class{
    margin-right: 15px;
    margin-bottom: 25px;
}

//Request Update
#main-div-request-page{
    padding-bottom: 250px;
}

#request-container-update{
    margin-top: 25px;
}

#h1-update-request{
    @include displayH1RequestSubscribe();
}
.request-update-display-lable{

    @include displayPSubscribeRequest();
}

.input-request-class{
    background-color: rgb(204, 223, 240);
}

.save-button{
    margin-right: 25px;
    @include buttonsStyle();
}
.cancel-button{

    @include buttonsStyle();
}

//Update-Add Books

#main-div-add-update-book{
    padding-bottom: 250px;
}

#book-container-update{
    margin-top: 25px;
}

.h2-update-add-book{
    @include displayH1RequestSubscribe();
}
.book-update-display-lable{

    @include displayPSubscribeRequest();
}

.input-book-class{
    background-color: rgb(204, 223, 240);
}

.save-button{
    margin-right: 25px;
    @include buttonsStyle();
}
.cancel-button{

    @include buttonsStyle();
}

//Gift Add-Update


#main-div-add-update-gift{
    padding-bottom: 250px;
}

#gift-container-update{
    margin-top: 25px;
}

.h2-update-add-gift{
    @include displayH1RequestSubscribe();
}
.gift-update-display-lable{

    @include displayPSubscribeRequest();
}

.input-gift-class{
    background-color: rgb(204, 223, 240);
}

.save-button{
    margin-right: 25px;
    @include buttonsStyle();
}
.cancel-button{

    @include buttonsStyle();
}