@import "ReusableStyles";

#main-div-home-page{
    background-repeat: no-repeat;
}

#div-home-page{
    margin-top: 25px;
    text-align: center;
}

#h1-home-page{
   font-family: $tangerine;
   font-size: 65px;
   font-weight: bolder;
   color: $text_color;
}

#h2-home-page{
    font-family: $milonga;
    color: $text_color;
    font-size: 35px;
}

#p-home-page{
    margin-top: 25px;
    font-family: $pt_serif;
    font-size: 25px;
    color: $text_color;  
}

.footer-div{
    @include footer_div();
}