@import "ReusableStyles";

.footer-div{
    @include footer_div();
    }

#choice-div{
    margin-left: 25px;
}

#translate-option-div{
    margin-top: 25px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.translation-div{
display: flex;
flex-direction: row;
}
#translation-p-book{
    margin-left: 15px;
     margin-top: 15px;
     color:rgb(39, 7, 91);
     font-family:$oranienbaum;
     font-size: 35px;
 }