@import "ReusableStyles";


.footer-div{
    @include footer_div();
}

#choice-div{
    margin-left: 25px;
}

#main-div-book-page{
    padding-bottom: 250px;
}
#books-list{
    margin-top: 25px;
@include gridSearchOutput();
text-align: center;
}

.books-div-list{
    border: outset 2px $border_color;
    margin: 5px;
}

.p-books{
@include paragraphsGiftsAndBooks();
}

.title-books{
    @include paragraphsGiftsAndBooks();
}

.span-books{
    @include titlesBooksAndGiftsAndSpans();
}

.img-books{
width: 250px;
height: auto;
}

.a-buy-option{
    @include paragraphsGiftsAndBooks();
}
.a-buy-option:hover{
    text-decoration: none;
    color: rgb(201, 83, 225);
}
