//mixins 

@mixin gridSearchOutput {
   display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

@mixin footer_div{
    border-top:inset 3px $border_color;
position: fixed;
bottom:0;
min-width:100%;
max-width:100%;
}

@mixin buttonsStyle{
    margin-top: 10px;
    background-color: rgba(83, 88, 237, 0.995);
}
@mixin displayPSubscribeRequest{
    color:$text_color;
    font-family:$pt_serif;
    font-size: 25px;
    margin-bottom: -5px;
}
@mixin displayH1RequestSubscribe{
    color:$text_color;
    font-family:$tangerine;
    font-size: 50px;
    font-weight: bolder;  
}

@mixin paragraphsGiftsAndBooks{
    color:rgb(39, 7, 91);
    font-family:$pt_serif;
    font-size: 23px;
}

@mixin titlesBooksAndGiftsAndSpans{
    margin-top: 15px;
    color:rgb(39, 7, 91);
    font-family:$pattaya;
    font-size: 27px;
}

//Colors
$footer_nav_txt_color: rgb(11, 3, 91);
$border_color:rgb(0, 123, 255);
$text_color:rgb(49, 8, 114);

//Font 
$charm: 'Charm', cursive;
$milonga: 'Milonga', cursive;
$pt_serif: 'PT Serif', serif;
$sail: 'Sail', cursive;
$tangerine: 'Tangerine', cursive;
$cormorent: 'Cormorant Infant', serif;
$oranienbaum: 'Oranienbaum', serif;
$pattaya: 'Pattaya', sans-serif;
$viaoda: 'Viaoda Libre', cursive;