@import "ReusableStyles";

.footer-div{
    @include footer_div();
}

//Russian Books
#main-div-russian-book{
    padding-bottom: 250px;
}
#russian-books-list{
    @include gridSearchOutput();
    text-align: center;
}

#second-div-russian-books{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#russian-books-h1{
    margin-top: 15px;
    color:$text_color;
    font-family:$tangerine;
    font-size: 65px;
}

.russian-books-div-list{
    border: outset 2px $border_color;
    margin: 5px;
}

.p-russian-books{
    @include paragraphsGiftsAndBooks();
}

.title-russian-books{
    @include titlesBooksAndGiftsAndSpans();
}

.span-russian-books{
    @include titlesBooksAndGiftsAndSpans();
}

.img-russian-books{
    width: 250px;
    height: auto;
}

.a-buy-option{
    @include paragraphsGiftsAndBooks();
}

.a-buy-option:hover{
    text-decoration: none;
    color: rgb(201, 83, 225);
}

.p-translation{
    margin-left: 15px;
    margin-top: 15px;
    color:rgb(39, 7, 91);
    font-family:$oranienbaum;
    font-size: 35px;
}

//Translation
#translation-result{
    color:rgb(39, 7, 91);
    font-family:$cormorent;
    font-size: 35px; 
}

#select-lable{
    color:rgb(39, 7, 91);
    font-family:$oranienbaum;
    font-size: 35px; 
}

#input-submit-transl
{
    margin-left: 15px;
    @include buttonsStyle();
}

#clear-button-transl{
    margin-left: 15px;
    @include buttonsStyle();
}

//Russian Gifts
#main-div-russian-gifts{
    padding-bottom: 250px;
}

#russian-gifts-list{
    @include gridSearchOutput();
    text-align: center;
}

#second-div-russian-gifts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#russian-gifts-h1{
    margin-top: 15px;
    color:$text_color;
    font-family:$tangerine;
    font-size: 65px;
}

.russian-gifts-div-list{
    border: outset 2px $border_color;
    margin: 5px;
}

.p-russian-gifts{
    @include paragraphsGiftsAndBooks();
}

.title-russian-gifts{
    @include titlesBooksAndGiftsAndSpans();
}

.span-russian-gifts{
    @include titlesBooksAndGiftsAndSpans();
}

.img-russian-gifts{
    width: 250px;
    height: auto;
}

.a-buy-option{
    @include paragraphsGiftsAndBooks();
}

.a-buy-option:hover{
    text-decoration: none;
    color: rgb(201, 83, 225);
}

.p-translation{
    margin-left: 15px;
    margin-top: 15px;
    color:rgb(39, 7, 91);
    font-family:$oranienbaum;
    font-size: 35px;
}
